<div ng-cloak>

    <section layout="row" flex>

        <md-sidenav class="md-sidenav-{{side}} md-whiteframe-4dp"
                    md-component-id="side"
                    eval-attr-as-expr="mdComponentId" flex>
            <md-toolbar>
                <h1 class="md-toolbar-tools">Choose Directory</h1>
            </md-toolbar>

            <md-content>
                <ul>
                    <li layout="row" ng-repeat="directory in directories">{{directory}}</li>
                </ul>
                <div layout="row" layout-align="end">
                    <md-button class="md-raised md-primary" ng-click="close()">Close</md-button>
                </div>
            </md-content>

        </md-sidenav>

        <md-content>
            <div class="input-group">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" ng-click="toggle()">
                        <span class="glyphicon glyphicon-folder-open"></span>
                    </button>
                </span>

                    <input title="{{side}}"
                           type="text"
                           class="form-control"
                           value="{{selectedDirectory}}"
                           readonly>
            </div>
        </md-content>

    </section>

</div>
