<div ng-controller="ChooserCtrl">

    <script type="text/ng-template" id="chooserModal.html">

        <div class="modal-header">
            <h3 class="modal-title">Choose Directory</h3>
        </div>

        <div class="modal-body">
            <ul class="list-unstyled">
                <li ng-repeat="directory in directories">{{directory.name}}</li>
            </ul>
        </div>
    </script>

    <div class="input-group">
        <span class="input-group-btn">
            <button type="button" class="btn btn-primary" ng-click="open('lg')">
                <span class="glyphicon glyphicon-folder-open"></span>
            </button>
        </span>

        <input title="{{side}}Directory"
               type="text"
               class="form-control"
               value="This is the {{side}} chooser text"
               readonly>
    </div>
</div>
